.main {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    height: 100vh ;
}
@media screen and (max-width: 1024px) {
    .main {
      width: 100%;
    }
}
.dashboard {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    row-gap: 64px;
    width: 100%;
    height: 90%;
    padding: 0px 24px 0 109px;
}

@media screen and (max-width: 1024px) {
    .dashboard {
        row-gap:48px;
        padding: 80px 48px;
    }
}
.dashboard-header {
    display: flex;
    flex-flow: column;
    padding-top: 60px;
    width: 100%;
}
@media screen and (max-width: 1024px) {
    .dashboard-header {
        padding: 0;
    }
}
.dashboard-header-greeting {
    font-size: 48px;
    color: #000000;
    display: flex;
    margin: 0;
}
@media screen and (max-width: 1024px) {
    .dashboard-header-greeting {
        font-size: 36px;
        margin-bottom: 15px;
    }
}

.dashboard-header-name {
    color: #ff0101;
    display: flex;
    margin-left: 10px;
}
@media screen and (max-width: 1024px) {
    .dashboard-header-name {
        font-size: 36px;
    }
}

.dashboard-header-message {
color: #000;
font-family: "Roboto";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px;
text-align: start;

}

@media screen and (max-width: 1024px) {
    .dashboard-header-message {
        font-size: 18px;
    }
}

.dashboard-charts {
    display: grid;
    width: 100%;
    height: 90%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
}

.dashboard-charts-all {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background: #fbfbfb;
    box-shadow: 0rem 0.2rem 0.4rem rgba(0, 0, 0, 0.0212249);
    border-radius: 8px;
}

.dashboard-activityChart {
    grid-area: 1 / 1 / 3 / 4;
    height: 340px;
}
@media screen and (max-width: 1024px) {
    .dashboard-activityChart{
     height: 100%;
   
    }
    .dashboard-averageSession{
         height: 100%;
        
}
}

.dashboard-averageSession {
    grid-area: 3 / 1 / 5 / 2;
    background: #ff0000;
    width: 258px ;
    height:263px;
}

.dashboard-performanceRadar {
    grid-area: 3 / 2 / 5 / 3;
   
    background: #282d30;
    width:258px ;
    height: 263px;
}

.dashboard-scoreChart {
    grid-area: 3 / 3 / 5 / 4;
   
    width:258px ;
    height: 263px;
}

 
/* .dashboard .key-data {
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
} */
.key-data-containeur {
    grid-area: 4 / 4 / 1 / 4;
    
}



/* Loading css  */
.loading-container,
.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%; /* Prend toute la largeur de la fenêtre */
  height:100%; /* Prend toute la hauteur de la fenêtre */
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #ff0101;
  background-color: #fff; /* Facultatif : ajouter un fond blanc */
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #ff0101; /* Couleur de l'animation */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-right: 10px; /* Espacement avec le texte */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
