.average-session-chart {
    background-color: #FF0101;
    border-radius: 10px;
    padding: 20px;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    position: relative;
    height: 270px;
  }
  
  .average-chart-title {
    font-size: 15px;
    font-weight: 500;
    opacity: 0.9;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .average-tooltip {
    background-color: #FFFFFF;
    color: #000000;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
  }
  