.BarnavVertical {
    background-color: black;
    width: 117px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.BarnavVertical-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    height: 70%;
}

.BarnavVertical-nav-logo {
    transition: all 0.3s ease; 
}

.BarnavVertical-nav-logo:hover {
    filter: invert(5);
}

.BarnavVertical-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
    transform: rotate(-90deg);
    text-align: center;
    white-space: nowrap;
    transform-origin: center center;
}

@media screen and (max-width: 1024px) { 
    .BarnavVertical {
        width:70px;
    }
    .BarnavVertical-nav {
        height: 60%;
    }
}