.barnavHorizontal {
    background-color: #020203;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 91px;
}

.barnavHorizontal-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    line-height: 100%;
}

.barnavHorizontal-link {
    line-height: 100%;
    vertical-align: middle;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    transition: all 0.3s ease-in-out;
}

.barnavHorizontal-link:hover {
    color: #ff0101;
}

.barnavHorizontal-link-last {
    margin-right: 91px;
}

.barnavHorizontal-logo {
    width: 284.8px;
}

@media screen and (max-width: 1024px) {
    .barnavHorizontal {
        height: 50px;
    }
    .barnavHorizontal-nav {
        width: 100%;
    }
    
    .barnavHorizontal-link {
        font-weight: 400;
        font-size: 18px;
    }
    .barnavHorizontal-logo {
        width: 115px;
    }
}
