:root {
  font-family:  Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  margin: 0;
  padding: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html,
body {
  height: 100%;
}


